<div>
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10" >
            <div class="panel-group" *ngFor="let item of FAQDetails; let i=index">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#" data-target="#collapse_{{i}}">
                                {{item.question}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_{{i}}" class="panel-collapse collapse">
                        <div class="panel-body">
                           {{item.answer}}
                        </div>
                    </div>
                </div>
           
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
