<div class="col-md-1"></div>
<div class="col-md-10">
   

     <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
                          <slide *ngFor="let slidez of finalSlide"
                                 [active]="slidez.active">
                                 <div class="row">
                                 <div  *ngFor="let obj of slidez" class="col-md-4">
                                    <img [src]="obj.image" style="margin:auto;">
                                </div>
                                 </div>
                                    <div class="carousel-caption">
                                    <p  style="background-color: transparent;color: white;">{{slidez.caption}}</p>
                                    </div>
                          </slide>
    </carousel>

</div>
<div class="col-md-1"></div>